<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/nav %>
    <h1>ChefsCorner Home Page</h1>
    <div>
      <ul>
        <li><a href="/sessions/new">Log In</a></li>
        <li><a href="users/new">Register</a></li>
      </ul>
    </div>
  </body>
</html>
